@use 'common';
.content {
  padding: common.$padding50;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  z-index: 1001;
}
.form-content {
  h1 {
    text-transform: uppercase;
    color: common.$color-text;
    text-align: center;
    font-style: italic;
  }
  h1:hover {
    color: red;
  }
}
